.catalog_section {
    padding: 20px 0;
}

.catalog_layout {
    display: flex;
    gap: 30px;
}

.filter_panel {
    width: 240px;
    font-family: "PT Sans Caption", sans-serif;
    font-size: 14px;
}

@media (max-width: 769px) {
    .filter_panel {
        display: none;
    }

}

.filter_title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 16px;
}

.filter_price_inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.filter_input {
    width: 100px;
}

.filter_range {
    width: 100%;
    margin-bottom: 20px;
}

.filter_subtitle {
    margin: 15px 0 5px;
    font-weight: 600;
    font-size: 14px;
}

.filter_checkboxes label {
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
}

.pagination {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
}

.page_item {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #2C2C2C;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.page_item:hover,
.page_item.active {
    background-color: #f04;
    border-color: #f04;
    color: #fff;
}

.arrow {
    width: auto;
    padding: 0 12px;
    border-radius: 16px;
}